<!DOCTYPE html>
<html>
<head>
	<title>Melwyn Furtado - Front-End Developer in London, UK</title>
	<meta name="description" content="Passionate for new media and the internet and play an important role by embracing new and emerging technologies. Comprehensive understanding of Back end development and a firm grip over Front end technologies. Strong follower of W3C guidelines in all aspects of Front end development."/>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />	
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster"/>
	<link rel="shortcut icon" href="http://24.media.tumblr.com/avatar_dbb57777aa1c_16.png" />
</head>
<body>
	<div id="header">
		<div class="container">
			<h1 class="logo lobster">
				Melwyn Furtado
				<span class="tagline">Front-End Web Developer</span>
			</h1>
			<ul id="navigation">
				<li>
					<a class="website" href="#aboutme">
						About Me
					</a>
				</li>
				<li>
					<a class="mobile" href="#projects">
						Portfolio
					</a>
				</li>
				<li>
					<a class="webapp" href="#projects">
						Blog
					</a>
				</li>
				<li>
					<a class="webapp" href="#footer">
						Contact
					</a>
				</li>			
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<h2 class="lobster">About Me</h2>
			<p id="aboutme">Passionate for new media and the internet and play an important role by embracing new and emerging technologies. Comprehensive understanding of Back end development and a firm grip over Front end technologies. Strong follower of W3C guidelines in all aspects of Front end development.
			<br /><br />
			Early years into mobile web development with cutting edge technologies like HTML5 and CSS3. Want to explore possibilities of JavaScript in creating full scale web applications.
			<br /><br />
			Specialties: PHP, MYSQL, HTML5, CSS3, XML, XSLT, JavaScript [jQuery, jQuery UI, KnockoutJS, RequireJS, MooTools, AJAX, DOM, JSON], Mobile Web, Web Usability, Web Accessibility, W3C Standards.</p>
			<h2 class="lobster">Portfolio</h2>
			<div id="projects">
				<div class="project independent">
					<div class="screenshot">					
						<a href="images/indyvoices-homepage.jpg" rel="independent" title="Independent Voices" class="fancybox">
							<img src="images/indyvoices-homepage-thumb.jpg" alt="Independent Voices" />
						</a>
						<a href="images/indy-homepage.jpg" rel="independent" title="The Independent" class="fancybox">
						</a>						
					</div>
					<h3 class="lobster">
						<a href="http://www.independent.co.uk/" target="_blank">The Independent</a>
					</h3>
					<p class="description">The Independent is a British national morning newspaper published in London by Independent Print Limited. Nicknamed the Indy, it was launched in 1986 and is one of the youngest UK national daily newspapers.</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, RequireJS, AJAX, JSON, Escenic, Wordpress, Gigya, PHP, JAVA, JSP</p>
				</div>
				<div class="project eveningstandard">
					<div class="screenshot">
						<a href="images/es-goingout.jpg" rel="eveningstandard" title="Going Out - London Evening Standard" class="fancybox">
							<img src="images/es-goingout-thumb.jpg" alt="Going Out - London Evening Standard" />
						</a>
						<a href="images/es-homepage.jpg" rel="eveningstandard" title="London Evening Standard" class="fancybox">
						</a>						
					</div>
					<h3 class="lobster">
						<a href="http://www.standard.co.uk/" target="_blank">London Evening Standard</a>
					</h3>
					<p class="description">The Evening Standard, since May 2009 styled the London Evening Standard, is a local, free daily newspaper, published Monday to Friday in tabloid format in London, United Kingdom.<br />
					It is the dominant regional evening paper for London and the surrounding area, with coverage of national and international news and City of London finance. In October 2009, the paper ended a 180-year history of paid circulation and became a free newspaper, doubling its circulation as part of a change in its business plan.</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, RequireJS, AJAX, JSON, Escenic, Drupal, Gigya, PHP, JAVA, JSP</p>					
				</div>	
				<div class="project printsite">
					<div class="screenshot">					
						<a href="images/sa-companylist.jpg" rel="printsite" title="Company List" class="fancybox">
							<img src="images/sa-companylist-thumb.jpg" alt="Company List" />
						</a>
						<a href="images/sa-company-contact.jpg" rel="printsite" title="Company contact view" class="fancybox"></a>
						<a href="images/sa-project-estimate.jpg" rel="printsite" title="Project estimate view" class="fancybox"></a>
						<a href="images/sa-products.jpg" rel="printsite" title="Catalog or products page" class="fancybox"></a>
					</div>
					<h3 class="lobster">
						S:A - Printsite
					</h3>
					<p class="description">Estimating and order management tool for print companies.</p>
					<br />
					<p>Technologies: HTML5, CSS3, JavaScript, jQuery, jQuery UI, KnockoutJS, LABjs, AJAX, JSON, PHP</p>
				</div>							
				<div class="project aolcoolage">
					<div class="screenshot">
						<a href="images/aolcoolage-homepage.jpg" rel="aolcoolage" title="AOL CoolAge" class="fancybox">
							<img src="images/aolcoolage-homepage-thumb.jpg" alt="AOL CoolAge" />
						</a>
						<a href="images/aolcoolage-galleryhub.jpg" rel="aolcoolage" title="AOL CoolAge - Gallery hub" class="fancybox">
						</a>
						<a href="images/aolcoolage-mobile-homepage.jpg" rel="aolcoolage" title="AOL CoolAge Mobile" class="fancybox">
						</a>						
					</div>
					<h3 class="lobster">
						<a href="http://www.coolage.in/" target="_blank">AOL CoolAge</a>
					</h3>
					<p class="description">CoolAge is a college focused hyper-local content and service and was designed primarily for the mobile web. This website is based on AOL's blogging platform and takes support from API's built and enhanced by me on the LAMP stack which include SMS integration.</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, AJAX, JSON, PHP</p>					
				</div>			
				<div class="project aolvideo">
					<div class="screenshot">
						<a href="images/aolvideo-homepage.jpg" rel="aolvideo" title="AOL Video - Homepage" class="fancybox">
							<img src="images/aolvideo-homepage-thumb.jpg" alt="AOL Video Homepage" />
						</a>
						<a href="images/aolvideo-playbackpage.jpg" rel="aolvideo" title="AOL Video - Playback page" class="fancybox">
							<!-- img src="images/aolvideo-playbackpage-thumb.jpg" alt="AOL Video Playback Page" / -->
						</a>
						<a href="images/aolvideo-channelhub.jpg" rel="aolvideo" title="AOL Video - Channel page" class="fancybox">
						</a>
						<a href="images/aolvideo-showhub.jpg" rel="aolvideo" title="AOL Video - Show hub page" class="fancybox">
						</a>
						<a href="images/aolvideo-showpage.jpg" rel="aolvideo" title="AOL Video - Show page" class="fancybox">
						</a>
						<a href="images/aolvideo-myvideos.jpg" rel="aolvideo" title="AOL Video My - Videos page" class="fancybox">
						</a>
						<a href="images/aolvideo-videosilike.jpg" rel="aolvideo" title="AOL Video - Videos I liked page" class="fancybox">
						</a>
																								
					</div>
					<h3 class="lobster">
						<a href="http://video.aol.com/" target="_blank">AOL Video</a>
					</h3>
					<p class="description">Comprehensive, searchable content offering, with access to high value assets such as full length TV programming, largest music video library, and new forms of internet-exclusive programming. Consistent presentation of search, browse, navigation and playback of fast high-Quality video. Smartly suggests personalized videos based on data collected through social features.
					</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, AJAX, JSON, PHP, JSP, APIs[BrightCove, Youtube, Hulu, Dailymotion, Truveo]</p>						
				</div>
				<div class="project oxygenlive">
					<div class="screenshot">					
						<a href="images/oxygenlive-homepage.png" rel="oxygenlive" title="Oxygen Live" class="fancybox">
							<img src="images/oxygenlive-thumb.png" alt="Oxygen Live" />
						</a>						
					</div>
					<h3 class="lobster">
						Oxygen Live
					</h3>
					<p class="description">OxygenLive redesign to make chat, interact, and react during Oxygen shows more engaging and aesthetically pleasing.</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, AJAX, JSON, PHP</p>	
				</div>					
				<div class="project asylumnetwork">
					<div class="screenshot">
						<a href="images/aolasylum-homepage.jpg" rel="asylumnetwork" title="Asylum - Homepage" class="fancybox">
							<img src="images/aolasylum-homepage-thumb.jpg" alt="Asylum Homepage" />
						</a>
						<a href="images/aolcomicsalliance-homepage.jpg" rel="asylumnetwork" title="ComicsAlliance - Homepage" class="fancybox">
						</a>						
					</div>
					<h3 class="lobster">
						<a href="http://www.asylum.com/" target="_blank">Asylum Network</a>
					</h3>
					<p class="description">Asylum is an Online Men's Magazine tackling every subject men hold near and dear. Asylum is holding number one position in men's lifestyle category. <br />
					Asylum have normal features like from subscribing to newsletter to adding any article to your favourite social bookmark site. Asylum newly introduced UPP(uploaded photo platform) which makes our users to participate more on what we put up. <br />
					Other niche sites included under same network were <a href="http://www.comicsalliance.com/" target="_blank">ComicsAlliance.com</a>, streetlevel.com, lemondrop.com.</p>
					<br />
					<p>Technologies: HTML, CSS, JavaScript, jQuery, AJAX, JSON, PHP</p>	
				</div>
			</div>						
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<h3 class="lobster">Reach me:</h3>
			<ul id="contactDetails">
				<li>
					<a href="mailto:melwynfurtado@gmail.com" class="social-sprite mail"></a>
					<a href="mailto:melwynfurtado@gmail.com" class="mailid">melwynfurtado@gmail.com</a>
				</li>
				<li>
					<a href="callto://melwynfurtado" class="social-sprite skype"></a>
					<a href="callto://melwynfurtado" class="skypename">melwynfurtado</a>
				</li>
			</ul>
			<ul id="socialLinks">
				<li>
					<a href="http://www.facebook.com/melwynfurtado" class="social-sprite facebook" target="_blank"></a>
				</li>
				<li>
					<a href="http://twitter.com/melwynfurtado" class="social-sprite twitter" target="_blank"></a>
				</li>
				<li>
					<a href="http://uk.linkedin.com/in/melwynfurtado" class="social-sprite linkedin" target="_blank"></a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33473431-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.smooth-scroll.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.5"></script>
	<script src="js/main.js" type="text/javascript"></script>	
</body>
</html>