/* 
    Document   : style
    Created on : Feb 17, 2013, 11:40:17 AM
    Author     : user7
    Description:
        Purpose of the stylesheet follows.
*/

body {
	font-family: sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	color: #38a2d4;
}

a:hover {
	color: #006a9c;
}

.lobster {
	font: normal 24px Lobster, Georgia, serif;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.social-sprite {
	background: transparent url('../images/social-icons-sprites.png') no-repeat left center;
	width: 30px;
	height: 30px;
	display: inline-block;
}

/* Header */

#header {
	background: #000;
	overflow: hidden;
	padding: 15px 0px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.logo {
	color: white;
	line-height: 24px;
	float: left;
}

.tagline {
	line-height: 24px;
	color: #666;
	margin-left: 10px;
}

/* Navigation */

#navigation {
	float: right;
}

#navigation li {
	float: left;
	margin-left: 30px;
}

#navigation a {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

#navigation a:hover {
	text-decoration: none;
}

#navigation a:hover {
	color: white;
}

/* Projects */

#content {
	border-bottom: 1px solid #EEE;
	margin: 80px 0 0 0;
}

#content h2 {
    font-size: 80px;
    margin: 0 0 15px 0;
    color: #000;
}

#aboutme {
	margin: 0 0 30px 0;
}

#projects {
	
}

#projects .project {
	position: relative;
	margin: 0 0 50px 0;
	overflow: hidden;
}

#projects .screenshot {
	float: left;
	position: relative;
	margin: 0 20px 0 0;
}

#projects h3 {
	font-size: 48px;
	margin-bottom: 12px;
}

#projects h3 a {
	color: inherit;
}

#projects .type {
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: bold;
	color: #BBB;
	display: block;
	margin-bottom: 12px;
}

#projects .description {
	font-size: 15px;
	line-height: 22px;
}

/* Footer */
#footer {
	padding: 30px 0;
	overflow: hidden;
}

#footer h3 {
	float: left;
	text-align: right;
	font-size: 32px;
	color: #e0e0e0;
}

#contactDetails {
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}

#contactDetails li {
	float: left;
	margin-right: 20px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

#contactDetails li img {
	float: left;
	margin-right: 10px;
}

#contactDetails li a.mailid, #contactDetails li a.skypename {
	position: relative;
	top: -8px;
	left: 0;
}

#contactDetails li a.mail {
	background-position: -544px -544px;
}

#contactDetails li a.mail:hover  {
	background-position: -112px -544px;
}

#contactDetails li a.skype {
	background-position: -796px -401px;
}

#contactDetails li a.skype:hover {
	background-position: -364px -401px;
}

#socialLinks {
	float: right;
	margin-top: 4px;
}

#socialLinks li {
	float: left;
	margin-left: 15px;
}

#socialLinks li a.facebook {
	background-position: -724px -185px;
}

#socialLinks li a.facebook:hover  {
	background-position: -292px -185px;
}

#socialLinks li a.twitter {
	background-position: -868px -436px;
}

#socialLinks li a.twitter:hover  {
	background-position: -436px -436px;
}

#socialLinks li a.linkedin {
	background-position: -616px -293px;
}

#socialLinks li a.linkedin:hover  {
	background-position: -184px -293px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.container {
		width: auto;
		margin: 0 10px;
	}

	.logo {
		font-size: 42px;
		margin: 0 10px;
	}

	.tagline {
		display: block;
		font-size: 22px;
		margin: 10px 0 0 20px;
	}

	#navigation {
		display: none;
	}

	#aboutme {
		margin: 0 0 10px 0;
	}

	#projects h3 {
		font-size: 38px;
	}

	#projects .project {
		margin: 0 0 25px 0;
		padding: 0 0 25px 0;
		border-bottom: 1px solid #eee; 
	}

	#content h2 {
		font-size: 52px;
	}

	#footer {
		position: relative;
		padding: 10px 0;
	}

	#socialLinks {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px 10px 0 0;
	}	

	#contactDetails {
		margin: 0 10px 0 0;
	}
}
